<%= div_for workout do %>
  <p>
    @<%= workout.location %>, <%= days_ago_in_words(workout.date) %>
    <%= link_to "[delete]", workout_path(workout),
      :method => :delete, :class => "delete", :remote => true %>
    <%= link_to "[+]", workout_path(workout),
      :method => :put, :class => "exercise", :remote => true %>
  </p>

  <div class="exercise_form workout_<%= workout.id %>">
    <%= form_for [workout, Exercise.new], :remote => true do |f| %>
      <%= f.label :name, "Name" %>
      <%= f.text_field :name %>
      <%= f.label :weight, "Weight" %>
      <%= f.text_field :weight %>
      <%= f.label :reps, "Reps" %>
      <%= f.text_field :reps %>
      <%= f.label :sets, "Sets" %>
      <%= f.text_field :sets %>
      <%= f.submit "add exercise" %>
    <% end -%>
  </div>

  <% if workout.exercises.any? -%>
    <%= render :partial => "exercise", :collection => workout.exercises %>
  <% end -%>

<% end -%>

