<% content_for :statusbar do -%>
  <%= render "statusbar", :workouts => @workouts %>
<% end -%>

<h1>add workout</h2>
<div id="add-workout">
  <%= form_for Workout.new, :remote => true do |f| %>
    <%= f.label :location, "Location" %><br />
    <%= f.text_field :location, :autofocus => true %><br />
    <%= f.label :date, "Date" %><br />
    <%= f.date_select :date %><br />
    <%= f.submit "add workout" %>
  <% end -%>
</div>

<h1>workouts</h1>
<div id="workouts">
  <% if @workouts.any? %>
    <%= render @workouts %>
  <% else -%>
    <p>add some workouts!</p>
  <% end -%>

</div>

