<div id="status">
  <div class="last_workout">
    last workout: <span id="last_workout"><%= last_workout(@workouts) %></span>
  </div>
  <div class="workout_count">
    workouts: <span id="workout_count"><%= @workouts.size || 0 %></span>
  </div>
</div>

<h1>add workout</h2>
<div id="add-workout">
  <%= form_for Workout.new, :remote => true do |f| %>
    <%= f.label :location, "Location" %><br />
    <%= f.text_field :location, :autofocus => true %><br />
    <%= f.label :date, "Date" %><br />
    <%= f.date_select :date %><br />
    <%= f.submit "add workout" %>
  <% end -%>
</div>

<div id="workout-notice"> </div>

<h1>workouts</h1>
<div id="workouts">
  <% if @workouts.any? %>
    <%= render :partial => @workouts, :locals => { :list => true } %>
  <% else -%>
    <p>add some workouts!</p>
  <% end -%>

</div>

