<div id="workouts">
  <% unless @workouts.empty? %>
    <h1>workout list</h1>
    <%= render :partial => @workouts, :locals => { :list => true } %>
  <% else -%>
    <p>add some workouts below!</p>
  <% end -%>


  <h2>add workout</h2>
  <%= form_for Workout.new do |f| %>
    <%= f.label :date, "Date" %><br />
    <%= f.datetime_select :date %><br />
    <%= f.label :location, "Location" %><br />
    <%= f.text_field :location %><br />
    <%= f.submit "add workout" %>
  <% end -%>

</div>
